`Hey I am code format` --> `

CO<sub>2</sub>

X<sup>2</sup>
```
X<sup>2</sup>
```

In [ ]:
^ --> shift + 6

In [ ]:
Traceback (most recent call last):
  File "C:\sandeep\W01D03\new_program.py", line 1, in <module>
    Print("Hello World")
NameError: name 'Print' is not defined. Did you mean: 'print'?

In [ ]:
File "firstprogram.py", line 1
    {\rtf1\ansi\ansicpg1252\cocoartf2636
                                       ^
SyntaxError: unexpected character after line continuation character

## Builtin Data types in python
- string
- int
- float
- complex
- Bool
- None

In [ ]:
Boolean - True or False

In [2]:
print(None)

None

In [3]:
a = 25

In [4]:
print(type(a))

<class 'int'>

In [6]:
type(a)

int

In [7]:
b = 'Apoorv'
print(type(b))

<class 'str'>

In [8]:
b = "Charulinga"
print(type(b))

<class 'str'>

In [9]:
c = '''Sujana'''
print(type(c))

<class 'str'>

In [ ]:
String is data type:
    if you put any character inside single quote or doule quote or triple quote then 
    python will read that as a string
    ' ', " " are single line strings
    ''' ''', """ """ these are multi line strings

In [10]:
print(type(' chariu34r3092ndce822598`520521 '))

<class 'str'>

In [11]:
a = 'there was a king.
he ruled entire nation.'

SyntaxError: EOL while scanning string literal (Temp/ipykernel_28916/3488642039.py, line 1)

In [12]:
b = '''There was a king who ruled the nation.
Nation was in harmony'''

In [13]:
print(b)

There was a king who ruled the nation.
Nation was in harmony

In [ ]:
''' '''

In [14]:
a = "24"
print(type(a))

<class 'str'>

In [15]:
b = 1.3
print(type(b))

<class 'float'>

In [16]:
var = complex(5,3)
print(var)

(5+3j)

In [17]:
print(type(var))

<class 'complex'>

In [24]:
d = 5+2j

In [25]:
a = int(23)
print(a)

23

In [26]:
converting integer type to float type
b = float(2)
print(b)

2.0

In [27]:
# convert float to integer
a = 3.529
b = int(a)
print(b)

3

In [29]:
# convert any integer value to string
a = 56
b = str(a)
print(type(b))

<class 'str'>

In [30]:
a = "Sandeep"
b = int(a)

ValueError: invalid literal for int() with base 10: 'Sandeep'

In [32]:
a = 27
b = int(a)
print(b)
print(type(b))

27
<class 'int'>

In [34]:
a = 56
b = str(a)
print(type(b))

<class 'str'>

In [35]:
b

'56'

In [36]:
print(b)

56

In [37]:
print("Hello World")
print("Hey I am edited")
print(5+2j)
a=23
a

Hello World
Hey I am edited
(5+2j)

23

In [38]:
2 + 3

5

In [39]:
5-3

2

In [40]:
5*2

10

In [41]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [45]:
"Hello"*5

'HelloHelloHelloHelloHello'

In [47]:
a = "Hello " + "Usha"

In [48]:
print(a)

Hello Usha